*{
    margin: 0;
    padding: 0;
    color: antiquewhite;
 z-index: 0;
font-family: sans-serif;
  
  
}
#navbar{
    height: 70px;
   width: 100%;
    
   background:linear-gradient(90deg, #0b3e27, #197149);
  

   
    

}
.navbarin{
    height: 70px;
    display: flex;
    align-items: center;
    justify-content: space-between;
   
}
/* whole rolex logo */
.brand{
   
   display: flex;
   align-items: center;
   
}
   


/* ROLEX and LOGO */

.rolex{
    font-size: 45px;
    font-weight: bold; 
}
.logo{
    height: 40px;
}
/* cart,account,contact us */

#cart{
    font-size: 20px;
    /* margin-left: 300px;
    margin-right: 300px; */

}
#search{
  font-size: 20px;
   /* margin-right: 300px; */
}
#menu{
     font-size: 20px;
     margin-right: 5px;
}
/* MAIN  */
main{
    height: 550px;
   
   /* background-color: #a3b18a; */
    z-index: 1;
}

.collection{
   font-size: 400px;
  font-family: sans-serif;
  display: flex;
 font-size: larger;
   justify-content: center;
   z-index: 1;
   font-weight: 700px;
  
  
}
#watches{
    font-size: 60px;
    font-weight: 400px;
    line-height: 1;
 z-index: 1;
}


.backimg{position:relative;
    top: 0;
   height: 468px;
  background-image:url(/main.jpg) ;
  z-index: -2;
background-size: cover;
}
.space{
    margin-top: 100px;
   z-index: 1;
}

.divbackvideo{

position: absolute;
top: auto; */
   height: 1660px;
}



.middletab{
    height: 251px;
 background-color: #197149;

  } 

.articleh1{
    color: #197149;
    font-size: 33px;
    font-weight: bolder;
    margin-top: 75px;
    margin-left: 100px;
    z-index: -1;
}
.articledif{
   font-family: serif;
    color: black;
  margin-top:75px ;
  margin-left: 200px;
  margin-right: 90px;
   line-height: 30px;
   
   font-size: 25px;
   z-index: -1;
}
#find{
    color: #197149;
margin-left: 600px;
display: flex;
justify-items: center;
  
  
}