*{
    margin: 0;
    padding: 0;
    color: antiquewhite;
 z-index: 0;
font-family: sans-serif;
  
  
}
#navbar{
    height: 70px;
   width: 100%;
    
   background:linear-gradient(90deg, #0b3e27, #197149);
  

   
    

}
.navbarin{
    height: 70px;
    display: flex;
    align-items: center;
    justify-content: space-between;
   
}
/* whole rolex logo */
.brand{
   
   display: flex;
   align-items: center;
   
}
   


/* ROLEX and LOGO */

.rolex{
    font-size: 45px;
    font-weight: bold; 
}
.logo{
    height: 40px;
}
/* cart,account,contact us */

#cart{
    font-size: 20px;
    /* margin-left: 300px;
    margin-right: 300px; */

}
#search{
  font-size: 20px;
   /* margin-right: 300px; */
}
#menu{
     font-size: 20px;
     margin-right: 5px;
}
/* MAIN  */
 section{
    height: 480px;
 
} 

.collection{
   font-size: 400px;
  font-family: sans-serif;
  display: flex;
 font-size: larger;
   justify-content: center;
  
   font-weight: 700px;
  
  
}
#watches{
    font-size: 60px;
    font-weight: 400px;
    line-height: 1;
 
}
.marginrol{
    margin-top: 60px;
   
}



.space{
    height: 480px;
  padding-top: 40px;
   z-index: 1;
   background-image: url(/main.jpg);
   background-size: cover;
}

.about{
    height: 200px;
    background:linear-gradient(90deg, #0b3e27, #197149);
    display: flex;
    align-content: center;
}
.abouth1{height: 100px;
    font-weight: 50px;
    margin-top: 40px;
margin-left: 100px;
display: inline-block;

}
.aboutp{height: 100px;
    font-family: serif;
    color: black;
    margin-top:40px ;
    margin-left: 300px;
  
    line-height: 25px;
    display: inline-block;
    font-weight: lighter;

}
#a1{
   display: flex;
   align-items: end;
   
   
}
.w1{
    height:480px ;
    background-image: url(/blueg.jpg);
    background-size: cover;
}
.w2{
    height:480px ;
    background-image: url(/gold.jpg);
    background-size:cover;
}
.w3{
    height:480px ;
    background-image: url(/gray.jpg);
    background-size: cover;
}
.w4{
    height:480px ;
    background-image: url(/main.jpg);
    background-size: cover;
}
#end{
    height: 30px;
    background-color: #0b3e27;
    text-align: center;
   
    font-weight: bolder;
}

footer{
    height: 500px;
     background:linear-gradient(90deg, #0b3e27, #197149);
}