*{
    margin: 0;
    padding: 0;
    color: antiquewhite;
 z-index: 0;
font-family: sans-serif;
  
  
}
#navbar{
    height: 70px;
   width: 100%;
    
   background:linear-gradient(90deg, #0b3e27, #197149);
  

   
    

}
.navbarin{
    height: 70px;
    display: flex;
    align-items: center;
    justify-content: space-between;
   
}
/* whole rolex logo */
.brand{
   
   display: flex;
   align-items: center;
   
}
   


/* ROLEX and LOGO */

.rolex{
    font-size: 45px;
    font-weight: bold; 
}
.logo{
    height: 40px;
}
/* cart,account,contact us */

#cart{
    font-size: 20px;
    /* margin-left: 300px;
    margin-right: 300px; */

}
#search{
  font-size: 20px;
   /* margin-right: 300px; */
}
#menu{
     font-size: 20px;
     margin-right: 5px;
}
/* MAIN  */
 section{
    height: 480px;
 
} 

.collection{
   font-size: 400px;
  font-family: sans-serif;
  display: flex;
 font-size: larger;
   justify-content: center;
  
   font-weight: 700px;
  
  
}
#watches{
    font-size: 60px;
    font-weight: 400px;
    line-height: 1;
 
}
.marginrol{
    margin-top: 60px;
   
}



.space{
  padding-top: 40px;
   z-index: 1;
   /* background-image: url(/main.jpg);
   background-size: cover; */
}
#backvideo{
    position: absolute;
    top: 0;
    height: 100%;
    width: 100%;
    object-fit: cover;
    z-index: -1;
}


.about{
    height: 200px;
    background:linear-gradient(90deg, #0b3e27, #197149);
    display: flex;
    align-content: center;
}
.abouth1{height: 100px;
    font-weight: 50px;
    margin-top: 40px;
margin-left: 100px;
display: inline-block;

}
.aboutp{height: 100px;
    font-family: serif;
    color: black;
    margin-top:40px ;
    margin-left: 300px;
  
    line-height: 25px;
    display: inline-block;
    font-weight: lighter;

}

.w1{
    height: 488px;
    background-image: url(/blueg.jpg);
  background-size: cover;
  
  background-position: center top 45%;
}
#w1{
   color: black;
   position: relative;
   top: 70%;
   left: 8%;
   letter-spacing: 4px;
   display: inline-block;
   margin-bottom: 15px;
  opacity: 0%;
transform: translateY(20px);
transition: opacity 0.5s ease, transform 0.5s ease;
}
.w1:hover #w1{
    transform: translateY(0px);
    
    cursor: pointer;
    opacity: 100%;

}

.w2{
   height: 480px;
    background-image: url(/gold.jpg);
    background-size: cover;
  
  background-position: center top 26%;
}
#w2{
    color: black;
   position: relative;
   top: 70%;
   left: 8%;
   letter-spacing: 4px;
   margin-bottom: 15px;
   display: inline-block;
  opacity: 0%;
transform: translateY(20px);
transition: opacity 0.5s ease, transform 0.5s ease;
}
.w2:hover #w2{
    transform: translateY(0px);
    
    cursor: pointer;
    opacity: 100%;

}
.w3{
   height: 480px;
    background-image: url(/gray.jpg);
  background-size: cover;
  
  background-position: center top 40%;
}
#w3{
   color: black;
   position: relative;
   top: 70%;
   left: 8%;
   letter-spacing: 4px;
  display: inline-block;
   margin-bottom: 15px;
  opacity: 0%;
transform: translateY(20px);
transition: opacity 0.5s ease, transform 0.5s ease;
}
.w3:hover #w3{
    transform: translateY(0px);
    
    cursor: pointer;
    opacity: 100%;

}

.w4{
    
  height: 480px;

    background-image: url(/main.jpg);
    background-size: cover;
  
  background-position: center top 28%;
}
#w4{
  
   position: relative;
   top: 70%;
   left: 8%;
   letter-spacing: 4px;
  display: inline-block;
   margin-bottom: 15px;
  opacity: 0%;
transform: translateY(20px);
transition: opacity 0.5s ease, transform 0.5s ease;
}
.w4:hover #w4{
    transform: translateY(0px);
    
    cursor: pointer;
    opacity: 100%;

}
#end{
    height: 30px;
    background-color: #0b3e27;
    text-align: center;
   
    font-weight: bolder;
}

footer{
    height: 500px;
     background:linear-gradient(90deg, #0b3e27, #197149);
     text-align: center;
}
.lastabout{
   te
}
.h1{
    text-align: center;
}